.body{

	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #6C7279;
	-webkit- font-smothing: antialiased;
	background-color:#FFFFFF;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	margin:0;
}

p {
	margin: 0 0 10px;
}

/*Container
=================*/
.container1{
	width:100%;
	max-width: 95%;
	margin: 0 auto;
}


/*Header
=================*/

.header{
	width:100%;
	height: 100px
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}

.header__inner{
	display: flex;
	justify-content:space-between;
	align-items: center;
	padding: 12px 0;
	border-bottom: 1px solid #000000;
}
.header__logo{
	margin-left: 40px;
}


/*Nav
==================*/

.nav{
	display: flex;
	font-size:13px;
	font-weight:700;
	text-transform:uppercase;
}

.nav__link{
	margin-left: 50px;
	color:#000000;
	text-decoration: none;
	opacity:0.75;
	transition: opacity 0.1s linear;
}

.nav__link:first-child{
	margin-left: 0;
}

.nav__link:hover{
	text-decoration:underline;
	opacity:1;
	
}

/*Intro
==================*/

.intro{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 500px;
	padding-top:100px;	
	background: #000000 url("/img/eqt3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.intro__inner{
	height: 50%;
	weight: 100%;
	max-width:350px;
}
.intro__title{
	margin: 0 40px;
	font-family: 'Open Sans',
	sans-serif;
	font-size: 40px;
	color:#fff;
	font-weight: 700;
	text-transform: uppecase;
	margin-bottom: 10px;
}

/*Button
==================*/



.btn{
	display: inline-block;
	vertical-align: top;
	padding: 10px 30px ;
	
	font-size: 15px;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	box-shadow: 3px 3px 3px;

	transition: color .1s linear;
	margin-left:40px;
}

.btn--red{
	background-color:#000;
}

.btn--red:hover{
	color:#828282;
}


.hit{
	display:flex;
	margin-top:30px;
	justify-content:center;
	text-transform: uppercase;
	
}

/*Features
==================*/

.features{
	display: flex;
	justify-content:center;
	
}

.features__item{
	padding:0 20px;
	text-decoration: none;
	
}
.features__item1{
	transition: border 0.2s;
}
.features__item1:hover{
	border: 1px solid #000000;
}

.features__item2:hover{
	border: 1px solid #000000;
}

.features__item3:hover{
	border: 1px solid #000000;
}

.features__item4:hover{
	border: 1px solid #000000;
}


.features__text{
	color:#000000;
}

/*Works
==================*/


.works{
	display:flex;
	background-color:#EEEEEE;
	height:352px;
}

.works__item{
	wight:50%;
	padding: 40px 60px;
}



/*Cloth
==================*/

.cloth{
	display:flex;
	margin-top:50px;
	justify-content:center;
	height:200px;
	
}

.cloth__item{
	padding: 0 45px;

}


.cloth__item1{
		
	color:#000000;
	text-decoration: none;
}
.cloth__item1:hover{
	text-decoration:underline;

}



/*Underground
==================*/
.underground{
	display: flex;
	justify-content: flex-end;
	width: 95%;
}

.underground__item{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 4px;
}

.underground:firts-child{
	margin-right: 0;
}